// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .like-btnのcolorを「#8899a6」にしてください
.like-btn {
  color: #ff0000;
}


// .like-btn-unlikeのcolorを「#ff2581」にしてください
.like-btn-unlike {
  color: #909090;
}


// ここに指定されたCSSを貼り付けてください
.fa {
  font-size: 32px !important;
  margin: 10px;
}