// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-btn {
  color: #ff0000;
}


.like-btn-unlike {
  color: #909090;
}

.fa {
  font-size: 32px !important;
  margin: 10px;
}